openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW Eventful Web API'
  description: 'Web Resources Specification (A7) for Eventful'

servers:
- url: http://lbaw2122.lbaw.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://youtu.be/dQw4w9WgXcQ

tags:
  - name: 'M01: Authentication and User Profile'

paths:


  /login:
    get:
      operationId: R101
      summary: 'R101: Login'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'Show login form'

    post:
      operationId: R102
      summary: 'R102: Login action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                  - username
                  - password
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/user/{id}'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'


  /logout:
    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: USR, ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'


  /register:

    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'Show register UI'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                  format: password
                name:
                  type: string
                picture:
                  type: string
                  format: binary
                birthdate:
                  type: string
                  format: date
              required:
                - username
                - email
                - password
                - name
                - birthdate

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/user/{id}'
                302Failure:
                  description: 'Failed authentication. Redirect to register form.'
                  value: '/register'


  /user/{id}:

    get:
      operationId: R106
      summary: 'R106: View user profile'
      description: 'Show the individual user profile. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Show User Profile UI'
          

  /event/{id}:

    get:
      operationId: R201
      summary: 'R201: View event page'
      description: 'Show event page. Access: ATT'
      tags:
        - 'M02: Visualizing events'

      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true

      responses:
        '200':
          description: 'Show Event Page UI'
  
  #maybe?
  /event/{event_id}/comment:
    post:
      # Add comment
  /event/{event_id}/comment/{id}:
    put:
      # Update comment

    delete:
      # Delete comment


 

  /search:  
    get:
      operationId: R202
      summary: 'R202: Search events'
      description: 'Show event search results. Access: PUB'

      tags:
        - 'M02: Visualizing events'

      parameters:
        - in: query
          name: name
          description: String to use in full-text search
          schema:
            type: string
          required: false
        - in: query
          name: start_date
          schema:
            type: string
            format: date
          required: false
        - in: query
          name: end_date
          schema:
            type: string
            format: date
          required: false
        - in: query
          name: tag
          schema:
            type: array
            items:
              type: integer
          required: false
        
      responses:
        '200':
          description: 'Show search page with events that match the criteria'

# TODO
# -> Add/edit/delete comment
# -> Add/change comment rating
# -> Join/create/update/leave/delete event
# -> Payment

# -> Recover password
# -> Invitations and request notification dismissal
# -> Create/Accept/deny invite + requests

# -> Add user report
# -> Add comment report
# -> Add event report
# -> Remove reports (by admin)
# -> Block user admin
# -> Write unblock appeal

# -> Update/Delete user
# -> Create/update/delete post
# -> Create/update/delete poll
# -> Vote on option