openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW Eventful Web API'
  description: 'Web Resources Specification (A7) for Eventful'

servers:
- url: http://lbaw2122.lbaw.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://youtu.be/dQw4w9WgXcQ

tags:
  - name: 'M01: Authentication and User Profile'

paths:


  /login:
    get:
      operationId: R101
      summary: 'R101: Login'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'Show login form'

    post:
      operationId: R102
      summary: 'R102: Login action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                  - username
                  - password
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/user/{id}'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'


  /logout:
    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: USR, ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'


  /register:

    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'Show register UI'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                  format: password
                name:
                  type: string
                picture:
                  type: string
                  format: binary
                birthdate:
                  type: string
                  format: date
              required:
                - username
                - email
                - password
                - name
                - birthdate

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/user/{id}'
                302Failure:
                  description: 'Failed authentication. Redirect to register form.'
                  value: '/register'


  /user/{id}:

    get:
      operationId: R106
      summary: 'R106: View user profile'
      description: 'Show the individual user profile. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Show User Profile UI'
          

  /event/{id}:

    get:
      operationId: R201
      summary: 'R201: View event page'
      description: 'Show event page. Access: ATT'
      tags:
        - 'M02: Visualizing events'

      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true

      responses:
        '200':
          description: 'Show Event Page UI'
 
  /search:  
    get:
      operationId: R202
      summary: 'R202: Search events'
      description: 'Show event search results. Access: PUB'

      tags:
        - 'M02: Visualizing events'

      parameters:
        - in: query
          name: name
          description: String to use in full-text search
          schema:
            type: string
          required: false
        - in: query
          name: start_date
          schema:
            type: string
            format: date
          required: false
        - in: query
          name: end_date
          schema:
            type: string
            format: date
          required: false
        - in: query
          name: tag
          schema:
            type: array
            items:
              type: integer
          required: false
        
      responses:
        '200':
          description: 'Show search page with events that match the criteria' 


  /api/works:
    get:
     operationId: R202
     summary: 'R202: Search Works API'
     description: 'Searches for works and returns the results as JSON. Access: PUB.'

     tags:
       - 'M02: Works'
     parameters:
       - in: query
         name: query
         description: String to use for full-text search
         schema:
           type: string
         required: false
       - in: query
         name: item
         description: Category of the works
         schema:
           type: string
         required: false
       - in: query
         name: loaned
         description: Boolean with the loaned flag value
         schema:
           type: boolean
         required: false
       - in: query
         name: owner
         description: Boolean with the owner flag value
         schema:
           type: boolean
         required: false
       - in: query
         name: classification
         description: Integer corresponding to the work classification
         schema:
           type: integer
         required: false

     responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: array
               items:
                 type: object
                 properties:
                   id:
                     type: string
                   title:
                     type: string
                   obs:
                     type: string
                   year:
                     type: string
                   owner:
                     type: string
                   type:
                     type: string
               example:
                 - id: 1
                   title: Rihanna - Unapologetic
                   obs: Good pop music album.
                   year: 2012
                   owner: Joana Lima
                   type: MP3
                 - id: 15
                   title: Mr. Bean
                   obs: The best comedy movie.
                   year: 1995
                   owner: Manuel Teixeira
                   type: DVD