.homepage-title {
    font-family: 'Pacifico', 'cursive';
    font-size: 10vh !important;
}

.navbar-brand {
    font-family: 'Pacifico', 'cursive';
}

.card {
    width: 28rem;
}

input.form-control {
    background: #fff;
}

.pagination {
    justify-content: center;
}

.form-group > label {
    font-weight: normal;
}

.form-check > label {
    font-weight: normal;
}